@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for custom colors and font sizes */
:root {
  --text-color: 255, 255, 255;
  --secondary-text: 156, 163, 175;
  --gray: 107, 114, 128;
  --primary-color: 220, 38, 38;
  --primary-background: 31, 41, 55;
  --secondary-background: 17, 24, 39;
  --warning-color: 252, 211, 77;
  --success-color: 34, 197, 94;

  --heading1: 2.25rem; /* 36px */
  --heading2: 1.875rem; /* 30px */
  --heading3: 1.5rem; /* 24px */
  --xsmall-text: 0.75rem; /* 12px */
  --small-text: 0.875rem; /* 14px */
  --medium-text: 1rem; /* 16px */
  --large-text: 1.125rem; /* 18px */
}

/* Additional RTL support if needed */
html {
  direction: rtl;
}

/* Add any global styles here */
body {
  background-color: rgb(var(--primary-background));
  color: rgb(var(--text-color));
  font-family: 'Inter', sans-serif;
}